.clipman-panelmenu-button {
    max-width: 600px;
}

.clipman-popupsearchmenuitem {
    border-radius: 18px;
    min-width: 300px;
    padding: 7px 12px;
}

.clipman-popuphistorymenusection {
    max-height: 500px;
}

.clipman-deletebutton .system-status-icon {
    icon-size: 16px;
}
